**/.bin/
**/.obj/
**/bin/
**/obj/
**/artifacts/
**/.git/
**/.github/
**/.vs/
**/.vscode/
**/.idea/
**/.nuke/
.project
.classpath
.settings
node_modules/
publish/
dist/
*.swp
*.user
*.suo
README.md
LICENSE
Doc/
Examples/
build.cmd
build.ps1
build.sh
build/
build_macos/
Dockerfile.local
.dockerignore
